/WebApplication/target/
/Test/target/
/a/nbproject/private/
/a/build/
/a/dist/
/Programa_De_Gestión_De_Paciente_Crónicos/build/
/Programa_De_Gestión_De_Paciente_Crónicos/nbproject/private/
/Programa_De_Gestión_De_Paciente_Crónicos/dist/
/Programa_De_Gesti_n_De_Paciente_Cr_nicos/nbproject/private/
/Test2/nbproject/private/
/Test2/build/
/Test2/dist/